@import "tailwindcss";

:root {
 --body: #F9FAFB;
 --metal-gray-800: #111827;
 --metal-gray-500: #6B7280;
 --action-blue-500: #3B82F6;
}

@theme inline {
  --color-body: #F9FAFB;
  --color-metal-gray-800: #111827;
  --color-metal-gray-500: #6B7280;
  --color-action-blue-500: #3B82F6; 
  --color-action-blue-800: #0F172A; 
}

body {
  background: var(--body);
}
